Lib/site-packages
__pycache__/
Primerproyecto/__pycache__
Primerproyecto/migrations/__pycache__
Procesamiento_SNOMED/__pycache__
Procesamiento_SNOMED/migrations/__pycache__
Procesamiento_SNOMED/Procesamiento_SNOMED/settings.py
Primerproyecto/Primerproyecto/settings.py